<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NerdGrid</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- <link rel="shortcut icon" href="images/icon.png" type="image/x-icon"> -->
    <style>
        body{
             background-color: #B9D9EB;
        }
    </style>

</head>

<body>

    <section class="hero">
        <div class="contain">
            <h1 class="title">
                NBAGameGrid
            </h1>
        </div>
    </section>
    <div class="container">
        <section class="display">
            <h2 class="date">
                {{ gameDate }}
            </h2>
        </section>  
        <div class="imgc">
            <div class="img">
                <img src= {{ homeLogo }} alt="Home Logo">
            </div>
            <h3> Versus </h3>
            <div class="img">
                <img src= {{ visitLogo }} alt="Visitor Logo">
            </div>
        </div>
    </div>
    <section class="grid">
        <div class = "grids">
            <div class="counter">
                <p class="text"> Guesses Left:</p>
                <p class="count"></p>
                <p class="text2"> Your Streak: <p class="num"></p> </p>
            </div>
            <table class="grid-container">
                <tr>
                    <th></th>
                    <th>23+ Min Played</th>
                    <th>5+ Free Throws Made</th>
                    <th>60%+ Field Goal Percentage</th>
                  </tr>
                <tr>
                    <th><img src= {{ homeLogo }} alt="Home Logo"> <p>(Home)</p></th>
                    <td>
                        <form id="form" autocomplete="off" autocomplete action="/checkPlayer1" method="post">
                            <div class="autocomplete" style="width: 200px;">
                                <input type="text" name="name" placeholder="Name a Player!" id="name" required>
                            </div>
                            <input type="Submit" id = s1>
                        </form> 
                        <p id="message"></p>
                    </td>
                    <td>
                        <form id="form1" autocomplete="off" autocomplete action="/checkPlayer2" method="post">
                            <div class="autocomplete" style="width: 200px;">
                                <input type="text" name="name1" placeholder="Name a Player!" id="name1" required>
                            </div>
                            <input type="Submit" id = s2>
                        </form>
                        <p id="message1"></p>
                    </td>
                    <td>
                        <form id="form2" autocomplete="off" autocomplete action="/checkPlayer3" method="post">
                            <div class="autocomplete" style="width: 200px;">
                                <input type="text" name="name2" placeholder="Name a Player!" id="name2" required>
                            </div>
                            <input type="Submit" id = s3>
                        </form>
                        <p id="message2"></p>
                    </td>
                </tr>
                <tr>
                    <th><img src= {{ visitLogo }} alt="Visitor Logo"> <p>(Away)</p></th>
                    <td>
                        <form id="form3" autocomplete="off" autocomplete action="/checkPlayer4" method="post">
                            <div class="autocomplete" style="width: 200px;">
                                <input type="text" name="name3" placeholder="Name a Player!" id="name3" required>
                            </div>
                            <input type="Submit" id = s4>
                        </form>
                        <p id="message3"></p>
                    </td>
                    <td>
                        <form id="form4" autocomplete="off" autocomplete action="/checkPlayer5" method="post">
                            <div class="autocomplete" style="width: 200px;">
                                <input type="text" name="name4" placeholder="Name a Player!" id="name4" required>
                            </div>
                            <input type="Submit" id = s5>
                        </form>
                        <p id="message4"></p>
                        </td>
                    <td>
                        <form id="form5" autocomplete="off" autocomplete action="/checkPlayer6" method="post">
                            <div class="autocomplete" style="width: 200px;">
                                <input type="text" name="name5" placeholder="Name a Player!" id="name5" required>
                             </div>
                             <input type="Submit" id = s6>
                        </form>
                        <p id="message5"></p>
                    </td>
                </tr>
            </table>
            <div class="result">
                <p class="text1">Incomplete Grid!</p>
                <p class="text22">Time Until Next Grid:</p>
                <p class="time" id ="countdown"></p>
            </div>
        </div>
    </section>
    <script>
    function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function(e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
                }
            });
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
                } else if (e.keyCode == 38) { //up
                currentFocus--;
                addActive(x);
                } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
                }
            });
            function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
            }
            function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
            }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
    function updateTime() {
        var now = new Date();
        var midnight = new Date(now);
        midnight.setHours(24, 0, 0, 0);
        var timeUntilMidnight = midnight - now;

        var hours = Math.floor(timeUntilMidnight / (1000 * 60 * 60));
        var minutes = Math.floor((timeUntilMidnight % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeUntilMidnight % (1000 * 60)) / 1000);

        document.getElementById("countdown").textContent = hours.toString().padStart(2, '0') + ":" +
        minutes.toString().padStart(2, '0') + ":" +
        seconds.toString().padStart(2, '0');
    }
    setInterval(updateTime, 1000);
    
    var players = JSON.parse('{{ playersList|tojson|safe }}');
    autocomplete(document.getElementById("name"), players);
    autocomplete(document.getElementById("name1"), players);
    autocomplete(document.getElementById("name2"), players);
    autocomplete(document.getElementById("name3"), players);
    autocomplete(document.getElementById("name4"), players);
    autocomplete(document.getElementById("name5"), players);

    
    let guessesLeft = 8; 
    let correctNum = 0;
    document.querySelector('.count').textContent = guessesLeft;

    //show streak
    const userId = ('{{ user_id|tojson|safe}}');
    fetch('/' + userId + '/streak')
        .then(response => response.json())
        .then(data => {
            document.querySelector('.num').textContent = data.streak;
        })
        .catch(error => {
            console.error('Error fetching user streak:', error);
        });


    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('#form'); 
        const allInputs = document.querySelectorAll('input[type="text"]'); 
        const submitButtons = document.querySelectorAll('input[type="submit"]'); 
        const inputField = document.getElementById('name');
        const submitButton = document.getElementById('s1');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userInput = document.getElementById('name').value;
            const response = await fetch('/checkPlayer1', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ name: userInput }),
            });
            const message = await response.text();
            document.getElementById('message').textContent = message;
            if (message.trim() === "Correct!") {
                inputField.disabled = true;
                submitButton.disabled = true;
                correctNum++;
            }
            guessesLeft--;
            document.querySelector('.count').textContent = guessesLeft;
            if (guessesLeft === 0) {
                fetch('/' + userId + '/streak/reset', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                allInputs.forEach(input => {
                    input.disabled = true;
                });
                submitButtons.forEach(button => {
                    button.disabled = true;
                });
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_s;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            }
            if(correctNum === 6){
                fetch('/' + userId + '/streak/update', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.textContent = "Complete Grid!"
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_streak;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            } 
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('#form1'); 
        const allInputs = document.querySelectorAll('input[type="text"]'); 
        const submitButtons = document.querySelectorAll('input[type="submit"]'); 
        const inputField = document.getElementById('name1');
        const submitButton = document.getElementById('s2');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userInput = document.getElementById('name1').value;
            const response = await fetch('/checkPlayer2', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ name1: userInput }),
            });
            const message = await response.text();
            document.getElementById('message1').textContent = message;
            if (message.trim() === "Correct!") {
                inputField.disabled = true;
                submitButton.disabled = true;
                correctNum++;
            }
            guessesLeft--;
            document.querySelector('.count').textContent = guessesLeft;
            if (guessesLeft === 0) {
                fetch('/' + userId + '/streak/reset', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                allInputs.forEach(input => {
                    input.disabled = true;
                });
                submitButtons.forEach(button => {
                    button.disabled = true;
                });
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_s;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            }
            if(correctNum === 6){
                fetch('/' + userId + '/streak/update', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.textContent = "Complete Grid!"
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_streak;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            } 
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('#form2');
        const allInputs = document.querySelectorAll('input[type="text"]'); 
        const submitButtons = document.querySelectorAll('input[type="submit"]'); 
        const inputField = document.getElementById('name2');
        const submitButton = document.getElementById('s3');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userInput = document.getElementById('name2').value;
            const response = await fetch('/checkPlayer3', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ name2: userInput }),
            });
            const message = await response.text();
            document.getElementById('message2').textContent = message;
            if (message.trim() === "Correct!") {
                inputField.disabled = true;
                submitButton.disabled = true;
                correctNum++;
            }
            guessesLeft--;
            document.querySelector('.count').textContent = guessesLeft;
            if (guessesLeft === 0) {
                fetch('/' + userId + '/streak/reset', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                allInputs.forEach(input => {
                    input.disabled = true;
                });
                submitButtons.forEach(button => {
                    button.disabled = true;
                });
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_s;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            }
            if(correctNum === 6){
                fetch('/' + userId + '/streak/update', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.textContent = "Complete Grid!"
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_streak;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            } 
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('#form3');
        const allInputs = document.querySelectorAll('input[type="text"]'); 
        const submitButtons = document.querySelectorAll('input[type="submit"]'); 
        const inputField = document.getElementById('name3');
        const submitButton = document.getElementById('s4');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userInput = document.getElementById('name3').value;
            const response = await fetch('/checkPlayer4', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ name3: userInput }),
            });
            const message = await response.text();
            document.getElementById('message3').textContent = message;
            if (message.trim() === "Correct!") {
                inputField.disabled = true;
                submitButton.disabled = true;
                correctNum++;
            }
            guessesLeft--;
            document.querySelector('.count').textContent = guessesLeft;
            if (guessesLeft === 0) {
                fetch('/' + userId + '/streak/reset', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                allInputs.forEach(input => {
                    input.disabled = true;
                });
                submitButtons.forEach(button => {
                    button.disabled = true;
                });
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_s;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            }
            if(correctNum === 6){
                fetch('/' + userId + '/streak/update', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.textContent = "Complete Grid!"
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_streak;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            } 
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('#form4');
        const allInputs = document.querySelectorAll('input[type="text"]'); 
        const submitButtons = document.querySelectorAll('input[type="submit"]'); 
        const inputField = document.getElementById('name4');
        const submitButton = document.getElementById('s5'); 
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userInput = document.getElementById('name4').value;
            const response = await fetch('/checkPlayer5', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ name4: userInput }),
            });
            const message = await response.text();
            document.getElementById('message4').textContent = message;
            if (message.trim() === "Correct!") {
                inputField.disabled = true;
                submitButton.disabled = true;
                correctNum++;
            }
            guessesLeft--;
            document.querySelector('.count').textContent = guessesLeft;
            if (guessesLeft === 0) {
                fetch('/' + userId + '/streak/reset', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                allInputs.forEach(input => {
                    input.disabled = true;
                });
                submitButtons.forEach(button => {
                    button.disabled = true;
                });
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_s;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            }
            if(correctNum === 6){
                fetch('/' + userId + '/streak/update', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.textContent = "Complete Grid!"
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_streak;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            } 
        });
    });
    
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('#form5');
        const allInputs = document.querySelectorAll('input[type="text"]'); 
        const submitButtons = document.querySelectorAll('input[type="submit"]'); 
        const inputField = document.getElementById('name5');
        const submitButton = document.getElementById('s6');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const userInput = document.getElementById('name5').value;
            const response = await fetch('/checkPlayer6', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ name5: userInput }),
            });
            const message = await response.text();
            document.getElementById('message5').textContent = message;
            if (message.trim() === "Correct!") {
                inputField.disabled = true;
                submitButton.disabled = true;
                correctNum++;
            }
            guessesLeft--;
            document.querySelector('.count').textContent = guessesLeft;
            if (guessesLeft === 0) {
                fetch('/' + userId + '/streak/reset', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                allInputs.forEach(input => {
                    input.disabled = true;
                });
                submitButtons.forEach(button => {
                    button.disabled = true;
                });
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_s;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            }
            if(correctNum === 6){
                fetch('/' + userId + '/streak/update', {
                    method: 'POST'
                })
                .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update streak');
                }
            })
            .then(data => {
                const textElement = document.querySelector('.text1');
                const textElement2 = document.querySelector('.text22');
                const textElement3 = document.querySelector('.time');
                textElement.textContent = "Complete Grid!"
                textElement.style.visibility = 'visible';
                textElement2.style.visibility = 'visible';
                textElement3.style.visibility = 'visible';
                
                // Update streak in HTML
                const streakElement = document.querySelector('.num');
                streakElement.textContent = data.new_streak;
                })
            .catch(error => {
                console.error('Error updating streak:', error);
                });
            } 
        });
    });
    </script>
</body>
</html>